[Desktop Entry]
Encoding=UTF-8
Name=Right Menu
Name[tr]=Sag menü
Comment=Right column of the XK-Menu
Comment[tr]=XK-Menünün sag sütunu
BackgroundColor=74,129,205
HighlightColor=65,111,180
