[Desktop Entry]
Encoding=UTF-8
Name=Left Menu
Name[tr]=Sol menü
Comment=Left column of the XK-Menu
Comment[tr]=XK-Menünün sol sütunu
BackgroundColor=82,137,222
HighlightColor=65,111,180
